 <td data-photo-id=<%= photo.id %> class="span2 well">
  asdsdfds
    <%= image_tag(photo.image.thumb.url) if photo.image? %>
    <td class="actions">
      <%= link_to 'Destroy', album_photo_path(@album, photo, :json), "data-photo-destroy-id" => photo.id %>
    </td>
 </td>
