<h1>Listing photos</h1>

<div id="photos" >
  <%= render @photos %>
</div>
<div class="clear"></div>


<%= form_for @album.photos.build, :url => { :action => "create" } do |f| %>
  <%#= f.label :photo %>
  <%= f.file_field :photo, multiple: true, name: "photo[image]" %>
  <div class="actions">
    <%#= f.submit %>
  </div>
<% end %>

<br />

<%= link_to 'New Photo', new_album_photo_path(@album) %>
