<h1>Listing photos</h1>

<table>
  <tr>
    <th>Album</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= photo.album_id %></td>
    <td><%= image_tag(photo.image.thumb.url) if photo.image? %></td>
    <td><%#= link_to 'Show', photo %></td>
    <td><%#= link_to 'Edit', edit_album_photo_path(@album_photo) %></td>
    <td><%= link_to 'Destroy', album_photo_path(@album, photo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_album_photo_path(@album) %>
