

.fotoalbum_titel {
	text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 145px;
    vertical-align: bottom;
    margin-top: 110px;
    padding-left: 5px;

}

.album_delete_icon {
	margin-top: -135px;
	margin-left: 110px;
	width: 25px;
	height: 25px;
	z-index: 100;

}

.album-icon {
	text-align: center;
	z-index: 2;
}

.album_box {
	width: 150px;
	height: 170px;
	display: inline-block;
	vertical-align: middle;

}

.album_box:hover {
	background: #BBBBBB;
}


.albums_widget_content {
	min-height: 180px;
}

.no_albums_text {
	text-align: center; 
	vertical-align: middle; 
	margin-top: 70px;
}
