

.fotoalbum_titel {
	text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 145px;

}

.album_delete_icon {
	text-align: right;
	margin-bottom: -24px;
	padding-right: 15px;

}

.album_box {
	width: 150px;
	display: inline-block;
	vertical-align: middle;

}

.album_box:hover {
	background: #BBBBBB;
}


.albums_widget_content {
	min-height: 180px;
}

.no_albums_text {
	text-align: center; 
	vertical-align: middle; 
	margin-top: 70px;
}
