// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*.thumbnail .buttons {
  display: inline-block;
  height: 30px;
}
.buttons .start {
  width: 50%;
  float: left;
  text-align: right;
}

.buttons .cancel {
  width: 50%;
  float: left;
  text-align: left;
}
*/
.thumbnail .bild {
  text-align: center;
  height: 200px;
}

.thumbnail a > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .checkbox {
  margin:0;
  padding-bottom: 15px;
  text-align: center;
}
.bild .preview {
  height: 156px;
  width: 210px;
  margin:0;
  padding:0;
  vertical-align:middle;
  text-align: center;
  display: table-cell;
  background-color: #000;
}

.bild .name {
  width:194px; 
  height: 20px;
  overflow:hidden;
}

.bild .preview > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.files .span3 {
  width: 210px;
  text-align: center;
}

.files .span3 .thumbnail {
  height: 190px;
  background-color: #7D7D7D;
}

.progress {
  height: 8px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.progress .bar{
    text-align: center;
}
._progress-success.progress-striped .bar {
  background-color: #7D7D7D;
}

img {
  max-width: none;
}

